<header class="masthead2">
</header>  
<div class = "calendar-1">
  
<%= link_to '日記をかく', new_meeting_path %>
<br>
<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <%= link_to meeting.name, meeting %>
      <!--<%= link_to '日記をかく', new_meeting_path %>-->
    </div>
  <% end %>
<% end %>

</div>

