<!--予定の新規入力ページ-->
<header class="masthead">
<div class="container signup-container">
  <div class="row">
    <div class="col">　　
    
     <%= form_with(model: @meeting, url: user_meetings_path(id: current_user.id), local: true) do |form| %>   
     
        <div class="form-group">  
　　　　  <%= form.text_field :title, class: 'form-control', placeholder: "タイトル" %>
        </div>

        <div class="form-group">
          <%= form.datetime_select :start_time, class: 'form-control', placeholder: "開始時刻" %>
        </div>
        
        <div class="form-group">
          <%= form.text_area :content, class: 'form-control', size: "40x5", placeholder: "内容"%>
        </div>
        
        <div class="form-group"> 
           <!--<%= form.label :picture, '画像' %>-->
           <!--<%= form.file_field :picture, class: 'form-control-file' %>-->
           <%= form.file_field :picture %>
        </div>
        
        <div class="form-group">
          <%= form.submit "スケジュールを入力",  class: "btn btn-info btn-lg form-submit" %>
        </div>
        
       
     <% end %>
　　</div>
  </div>
</div>
</header>

