<p>
  <strong>タイトル</strong>
  <%= @meeting.title %>
</p>

<p>
  <strong>開始時刻</strong>
  <%= @meeting.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>内容</strong>
  <%= @meeting.content %>
</p>


<%= link_to '変更', edit_user_meeting_path(id: current_user) %> |
<%= link_to '戻る', user_meeting_path(id: current_user) %>