<header class="masthead">
<div class="container  signup-container-2">
  <div class="row">
    <div class="col">
      <div class = "show-meetings-text" >
      
　　　<p class ="text1">
　　　  <strong>ユーザー名</strong>
　　　  <br><%= @user.name %></br>
　　　  
　　　  <br>
　　　  <strong>メールアドレス</strong>
　　　  <br><%= @user.email %></br>
　　　  </br>
　　　</p>
      
      <p>
       <%= link_to "ユーザー編集", edit_user_path(current_user) %> |
       <%= link_to "カレンダー", user_meetings_path(current_user) %> 
      <br>
       <%= link_to "退会(ユーザー削除)", user_path(current_user) , method: :delete, data: { confirm: "削除しますか？" } %>
      </br>
      </p>

      </div>
    </div>
    </div>
</div>
</header>
