<header class="masthead">
<p id="notice"><%= notice %></p>

<h1>My Schedules</h1>

<br>

<%= link_to 'スケジュールをかく', new_event_path %>

<%= month_calendar events: @events do |date, event| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div>
      <%= link_to event.title, event %>
    </div>
  <% end %>
<% end %>

</header>